.card {
  background: #1f2124;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin: 50px 20px 20px 20px;
  width: 33.3333%;
  padding: 50px 20px 20px;
  text-align: center;
  color: white;

  i {
    color: #f6b352;
  }

  ol {
    text-align: left;
    margin: 50px 0;
    font-size: 20px;
  }

  button {
    display: block;
    width: 100%;
    background: #f6b352;
    color: white;
    font-size: 18px;
    padding: 15px 20px;
    border-radius: 5px;
    border: 2px solid #f6b352;
    box-shadow: rgba(0, 0, 0, 0.9);
    transition: all 200ms ease-in-out;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      background: #f68657;
      border: 2px solid #f68657;
    }
    &:focus {
      outline: none;
    }
  }

  @media (max-width: 768px) {
    margin: 10px 20px;
    width: 100%;
  }
}

.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
